.cartItem {
    border-top: 1px solid black;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.itemDetails {
    padding-top: 4px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

.title {
    font-size: 24px;
}

.quantityField {
    font-size: 18px;
    width: 40px;
    border-radius: 0.25em;
    border: none;
}
