.cart {
    width: 100%;
    padding-top: 20px;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    grid-auto-rows: 150px;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}
