.shop {
    width: 100%;
    padding-top: 20px;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-auto-rows: 225px;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
}
