.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopItemContainer {
    width: 100%;
    display: grid;
    justify-content: space-around;

    grid-template-columns: 40% 40%;
}
