.shopItem {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    aspect-ratio: 1/1.5;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: end;
    position: relative;
}

.shopItem > * {
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.itemDetails {
    border-top: 1px solid black;
    padding-top: 4px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: white;
}

.quantities {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.quantities input {
    flex: 1;
    min-width: 0;
}

.imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.205);
    overflow: hidden;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
