.shop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopItemContainer {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    gap: 20px;

    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: 150px;
}
