body {
    margin: 0;
    height: 100dvh;
    display: flex;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-content {
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    flex: 1;
    box-sizing: border-box;
    background-color: lightgrey;

    display: flex;
    min-height: 0;
}
